:root {
//IBM Plex Sans
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

//IBM Plex Serif
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

//IBM Plex Mono
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

}


:root {
    --wh-color-bg-main: #f9f9f9;
    --wh-color-black: #121212 !important;
    --wh-color-white: #fafafa !important;
    --rs-color-gray-90: #000 !important;

    p {
    text-align: justify !important;
    }

}


* {
font-family: "IBM Plex Sans" !important
}

img {
margin: auto
}